torch
torchvision
triton
transformers==4.30.2
accelerate
optimum
peft
datasets
matplotlib
seaborn
scikit-learn
blobfile
pandas
ipykernel
sentencepiece
geom_median
numpy<2
timm
einops
evaluate
bitsandbytes
loguru
sacrebleu
sqlitedict
tenacity
hf_transfer
openai
decord
torchao
pynvml
flashinfer-python
sgl_kernel
orjson
cpm_kernels